doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="https://use.typekit.net/dbk8eoz.css", rel="stylesheet", type="text/css")
    meta(name="description", content="Join Spatial Users on Slack!")
    meta(property="og:type", content="website")
    meta(property="og:image", content="https://dd2cgqlmnwvp5.cloudfront.net/spatial.io/og-image.jpg")
    meta(property="og:image:type", content="image/jpeg")
    meta(property="og:image:width", content="1920")
    meta(property="og:image:height", content="1080")
    meta(property="og:image:alt", content="Spatial meeting with three users, one holographic, interacting with sticky notes.")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@spatialxr")
  body
    #wrapper
      .main
        .header
          h1
            strong #{community}
          h2 #{__('HEADER', community)}
        .content
          .information
            form(method="POST", action="invite")#join-form.form
              input(type="email", name="email", autofocus, placeholder=__('ENTER_EMAIL'))#slack-email.field
              if tokenRequired
                input(type="text", name="token", placeholder=__('ENTER_TOKEN'))#slack-token.field
              input(type="submit", value="Join").submit
              if !!recaptchaSiteKey
                div(class="g-recaptcha", data-sitekey=recaptchaSiteKey)
    if !!recaptchaSiteKey
       script(src='https://www.google.com/recaptcha/api.js')
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
        var recaptcha = document.getElementById('g-recaptcha-response');
        if (recaptcha && recaptcha.value === '') {
          evt.preventDefault();
        }
      });
